@import './variable.scss';

$orange: #ecb320;

h1 {
    font-size: 55px;
    font-weight: 600;
}

h2 {
    font-size: 35px;
    font-weight: 800;
}

h3 {
    font-size: 25px;
    font-weight: 800;
}

p {
    font-size: 14px;
}

.en-line-height {
    line-height: 1.4;
}

@include mobile {
    h2 {
        font-size: 27px;
    }
    h3 {
        font-size: 22px;
    }
}
